@charset "utf-8";
.list_wz{line-height: 28px;height: 28px;background: none;}
.list{border:1px solid #d9d9d9; padding:0 20px;}
/*列表*/
.list_ul{width: 1106px;border-bottom: 1px dotted #B2B2B2;padding:20px 0;}
.list_ul li{line-height: 28px; height: 28px; position: relative; width: 100% }
.list_ul li span{position: absolute;top:0; right:0; color: #ababab;}
.list_fy a{display:block;border: 1px solid #ababab; float:left;width: 20px; height: 20px; line-height: 20px;margin: 5px; text-align: center;}
.list_fy a.this{background-color: #e74c3c;color:#fff;  }
.list{ padding: 0 25px 25px; margin-bottom: 20px; }
/*内容*/
.list_content{line-height: 30px; font-size: 14px!important;}
.list_content p{ margin: 15px 0 0;  font-size: 14px!important;}
.list_c_h1{ text-align: center;padding:25px 0; width: 850px; overflow: hidden; margin: 0 auto; font-size: 24px;}
.list_c_fz{text-align: center;padding-bottom: 15px; border-bottom:1px dotted #B2B2B2;color:#ababab;}
.zhuce1{margin-bottom: 25px; border: 1px solid #d9d9d9; padding: 25px 0; overflow: hidden;}
.zhuce{width: 750px;margin: 0 auto;padding-bottom: 50px;}
.zhuce ul{width:100%; clear: both;}
.zhuce li{float: left; line-height: 45px; }
.zhuce li.zc1{width: 100px; text-align: right;}
.zhuce li.zc2{width: 250px;}
.zhuce li.zc2 input{width:200px; height: 22px;line-height: 22px;}
.zhuce li.zc2 input.fuxuan{width:15px; height: 15px;}
.zhuce li.zc2 input.tijiao{width:200px; height: 35px; background:#e74c3c; text-align: center;
	line-height: 35px;border: none;color:#fff; font-size: 14px; font-weight: 600;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.zhuce li.zc3{width: 400px;}
.zhuce h2{color:#e74c3c; margin: 20px 0; font-size: 16px;}
.zhuce .telyz{ width:200px; height:32px;line-height: 32px; text-align: center; background:#b2dee7; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; color:#3174b8;}
.zhuce3{width: 450px;float:left; margin-left:150px;}
.zhuceright{float: left;margin-top: 70px; line-height: 32px; }
.ljzc{width:200px;height:32px;line-height: 32px; text-align: center; background:#b2dee7; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; color:#3174b8;display: inline-block; font-weight: bold;}